%ASSEMBLY_NAME%=TypeCalculator
%SHORT_NAME%=TypeCalculator
%RAKE_TASK_PREFIX%=typecalculator
%FUBU_REGISTRY%=TypeCalculatorFubuRegistry
%APPLICATION_SOURCE%=TypeCalculatorApplication
%STRUCTUREMAP_REGISTRY%=TypeCalculatorRegistry
%PROJECT_PATH%=src/TypeCalculator/TypeCalculator.csproj
%PROJECT_FOLDER%=src/TypeCalculator
