<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog internalLogFile="C:\Users\jackgil\Desktop\file.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="TypeCalculator"/>
    </extensions>
    <targets async="true">
      

      <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/errorFileThingy.txt"
              layout="[${longdate} [UTC Formatted Time:${date:universalTime=true}] ${level:uppercase=true}|${logger}: ${message} ${stacktrace}"
              archiveFileName="${basedir}/logs/errorFileThingy-{##}.txt"
              archiveAboveSize="3072"
              archiveNumbering="Rolling"
              keepFileOpen="false"/>

        <target name="debugFile" xsi:type="File" fileName="${basedir}/logs/debugFileThingy.txt" layout="[${longdate}] ${level:uppercase=true}|${logger}: ${message}"/>

      <target name="infoFile" xsi:type="File"
              fileName="${basedir}/logs/infoFileThingy.txt"
              layout="[${longdate}] ${level}|${logger}: ${message}"/>
      
      
      <target name="traceFile" xsi:type="File" fileName="${basedir}/logs/traceFileThingy.txt" layout="[${longdate}] ${level}|${logger}: ${message}"/>
      
      
      <target name="consoleLogg" xsi:type="Console" layout="[${longdate}] ${level}|${logger}: ${message}" />
      

      <target name="emailTarg"
              xsi:type="Mail"
              to="yourdad@jabbathehut.com"
              from="yourmom@jabbathehut.com"
              subject="An Error Occured at time ${longdate}"
              body="Info: [${longdate}] ${level}|${logger}: ${message}"
              timeout="1000"/>
      
    
      <target name="customDebugTarg" xsi:type="TypeDebugCustomTargThingy" file="logs/warnWithCustomThingy.txt" />
    </targets>
    <rules>
      <logger name="TypeCalculator.Views.TypeExtensions" minlevel="Error" writeTo="errorFile"/>
      
      <logger name="TypeCalculator.Views.TypesDictionary" levels="Error, Fatal" writeTo="errorFile"/>
      <logger name="TypeCalculator.Views.TypesDictionary" levels="Info" writeTo="infoFile"/>
      <logger name="TypeCalculator.Views.TypesDictionary" levels="Trace" writeTo="traceFile"/>
      <logger name="TypeCalculator.Views.TypesDictionary" levels="Debug" writeTo="debugFile"/>
      <logger name="TypeCalculator.Views.TypesDictionary" levels="Warn" writeTo="customDebugTarg"/>
      
      <logger name="TypeCalculator.TypeCalculatorLogger" levels="Info" writeTo="infoFile"/>
      <logger name="TypeCalculator.TypeCalculatorLogger" levels="Error, Fatal" writeTo="errorFile"/>
      <logger name="TypeCalculator.TypeCalculatorLogger" levels="Trace" writeTo="traceFile"/>
      <logger name="TypeCalculator.TypeCalculatorLogger" levels="Debug" writeTo="debugFile"/>
      
      <logger name="TypeCalculator.Views.Types.TypesEndpoint" levels="Debug, Info" writeTo="infoFile"/>
      
      <logger name="TypeCalculator.Views.Home.HomeEndpoint" levels="Error, Fatal" writeTo="errorFile"/>
      
      <logger name="TypeCalculator.Views.Home.HomeInputModel" levels="Debug, Trace, Fatal" writeTo="traceFile"/>
      
      <logger name="TypeCalculator.Views.Types.*" minlevel="Trace" writeTo="traceFile" />
    </rules>
  </nlog>
  
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <location path="Content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="_content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fubu-content">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
